<a href="https://colab.research.google.com/github/ChienYuHung/Introduction-to-Data-Science/blob/master/week9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
number = float(input("請輸入座號"))
t = int((number - 1)/5)
c = t + 1
print(f'座號為{number}，組別為{c}。')

請輸入座號19
座號為19.0，組別為4。